body{
	font-family: sans-serif;
}

.container_1{
	text-align: center;
}

.main-container{
	text-align: left;
	display: inline-block;
	width: 70%;
	margin: auto;
}

footer{
	margin-top:15px;
	margin-bottom:15px;
	text-align: center;
	color:#838686;
}
